.conteudo{width: 100%;}
.conteudo .artigos{margin-top: 1em;}
.artigos{
	background-color: var(--artigos);
	min-height: 106vh;
	height: 120vh;
	overflow-y: scroll;
}
.artigos a.links{color: crimson;}		
.artigos h2{
	font-size: 1.7em;
	font-family: var(--fonte_Header);}
.artigos p{
	font-size: 1.2em;
	font-family: var(--fonte_Paragrafo);}	
@media(min-width: 48em){
	.conteudo{width: 81.4%;}
}		